@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
    padding: 40px;
    color: #dbdbdb;
    font-family: 'Anonymous Pro', monospace;
    background-color: #191919;
}

.line-1 {
    position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
#nazwisko {
    width: 660px;
    font-size: 500px;
}
#zadania {
    width: 300px;
    font-size: 400px;
}
#zadania_kody {
    width: 500px;
    font-size: 400px;
}
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 660px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #dbdbdb;
    }
    to {
        border-right-color: transparent;
    }
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #191919;
}

*::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 5px;
    border: 5px none #ffffff;
}

button {
    color: #dbdbdb;
    font-family: 'Anonymous Pro', monospace;
    border: transparent;
    background-color: transparent;
    font-size: 30px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    text-shadow: 0 0 10px white;
}

input {
    color: white;
    font-family: 'Anonymous Pro', monospace;
    border: transparent;
    border-bottom: solid;
    background-color: transparent;
    font-size: 30px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
input:hover {
    text-shadow: 0 0 10px white;
}
